* {
    box-sizing: border-box;
}
body {
    background-image: url("img_video/pexels-lukas-942769.jpg");
    background-size: cover;
}
#coffeeTitle {
    text-align: center;
}

.c-roast {
    float: right;
}


