* {
    box-sizing: border-box;
}
body {
    background-image: url("img_video/ep_naturalwhite.png");
    background-repeat: repeat;
    margin-left: 100px;
    margin-right: 100px;
}

#coffees {
    display: flex;
    flex-wrap: wrap;

}

.navbar-brand {
    font-size: 2em;
}

.text-info {
    color: #788892;
}




